<div class="botons-crear">
  <button (click)="iniciarNouGrup()" class="nou-boto">+ Nou ús</button>
  <button (click)="iniciarNouSubgrup()" class="nou-boto">+ Nou grup</button>
  <button (click)="iniciarNovaActivitat()" class="nou-boto">+ Nova activitat</button>
</div>

<ul class="grup-list">
  <li *ngFor="let grup of objectKeys(activitats)">
    <div class="grup-title" (click)="toggleGrup(grup)">
      {{ grup }}
      <div class="title-buttons">
        <span class="arrow" (click)="veureGrup( grup); $event.stopPropagation()">
          <i class="fa fa-pencil"></i>
        </span>
        <span class="arrow">{{ grupSeleccionat === grup ? '▲' : '▼' }}</span>
      </div>
    </div>

    <ul *ngIf="grupSeleccionat === grup" class="subgrup-list">
      <li *ngFor="let subgrup of objectKeys(activitats[grup])">
        <div class="subgrup-title" (click)="toggleSubgrup(subgrup)">
          {{ subgrup }}
          <div class="title-buttons">
            <span class="arrow" (click)="veureSubgrup(subgrup, grup); $event.stopPropagation()">
              <i class="fa fa-pencil"></i>
            </span>
            <span class="arrow">{{ subgrupSeleccionat === subgrup ? '▲' : '▼' }}</span>
          </div>
        </div>

        <ul *ngIf="subgrupSeleccionat === subgrup" class="activitat-list">
          <li *ngFor="let activitat of activitats[grup][subgrup]" class="activitat-item">
            <div class="activitat-title" (click)="veureActivitat(activitat, subgrup, grup)">
              {{ activitat }}
              <div class="title-buttons">
                <span class="arrow" (click)="veureActivitat(activitat, subgrup, grup); $event.stopPropagation()">
                  <i class="fa fa-pencil"></i>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!--MODAL ACTIVITAT-->
<div class="modal" *ngIf="activitatSeleccionada" (click)="onBackdropClick($event)">
  <div *ngIf="activitatSeleccionada" class="modal-content" (click)="$event.stopPropagation()">
    <app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>
    <button class="tancar-modal" (click)="tancarModal()">✖</button>

    <h3 *ngIf="!creant">Edita l'activitat: {{ activitatSeleccionada.descripcio_activitat }}</h3>
    <h3 *ngIf="creant">Crea una nova activitat</h3>

    <div *ngIf="!creant" class="condicio condicio-grups">
      <div class="activitats_box">
        <div class="activitat">
          <label>Descripció: </label>
          <div>
            <input [(ngModel)]="activitatSeleccionada.descripcio_activitat" placeholder="Escriu un epígraf nou"/>
          </div>
        </div>
        <div class="activitat">
          <label>EPÍGRAF:</label>
          <div>
            <select [(ngModel)]="epigrafSeleccionat" (change)="canviEpigraf($event)">
              <option [value]="''" disabled>Selecciona un epígraf</option>
              <option *ngFor="let epigraf of epigrafsDisponibles"
                      [value]="epigraf.id">{{ epigraf.codi1 + '.' + epigraf.codi2 + '.' + epigraf.codi3 + ' ' + epigraf.descripcio }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <label style="display: flex; align-items: center; gap: 0.5rem;">
            Actiu
            <input type="checkbox" [(ngModel)]="activitatSeleccionada.mostrar"/>
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="creant" class="condicio condicio-grups">
      <div style="display: flex;flex-direction: column; gap:10px">
        <div class="activitat">
          <label>Ús: </label>
          <div>
            <select [(ngModel)]="grupDisponible" (change)="canviGrup($event)">
              <option [value]="''" disabled selected>Selecciona un grup</option>
              <option *ngFor="let grup of grupsDisponibles" [value]="grup">
                {{ grup }}
              </option>
            </select>
          </div>
        </div>
        <div class="activitat">
          <label>Grup: </label>
          <div>
            <select [(ngModel)]="subgrupDisponible" [disabled]="!subgrupsDisponibles.length">
              <option [value]="''" disabled selected>Selecciona un subgrup</option>
              <option *ngFor="let subgrup of subgrupsDisponibles" [value]="subgrup">
                {{ subgrup }}
              </option>
            </select>
          </div>
        </div>
        <div class="activitat">
          <label>EPÍGRAF:</label>
          <div>
            <select [(ngModel)]="epigrafSeleccionat" (change)="canviEpigraf($event)">
              <option [value]="''" disabled>Selecciona un epígraf</option>
              <option *ngFor="let epigraf of epigrafsDisponibles"
                      [value]="epigraf.id">{{ epigraf.codi1 + '.' + epigraf.codi2 + '.' + epigraf.codi3 + ' ' + epigraf.descripcio }}
              </option>
            </select>
          </div>
        </div>
        <div class="activitat">
          <label>Descripció: </label>
          <div>
            <input [(ngModel)]="activitatSeleccionada.descripcio_activitat" placeholder="Escriu un epígraf nou"/>
          </div>
        </div>
        <div>
          <label style="display: flex; justify-content:start; align-items: center; gap: 2px;">
            Actiu
            <input type="checkbox" [(ngModel)]="activitatSeleccionada.mostrar"/>
          </label>
        </div>
      </div>
    </div>

    <div class="modal-buttons">
      <button (click)="guardarActivitat()" class="save">Guardar</button>
      <button (click)="tancarModal()" class="cancel">Cancel·lar</button>
    </div>
  </div>
</div>
<!--MODAL SUBGRUP-->
<div class="modal" *ngIf="subgrupEditar" (click)="onBackdropClick($event)">
  <div *ngIf="subgrupEditar" class="modal-content" (click)="$event.stopPropagation()">
    <app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>
    <button class="tancar-modal" (click)="tancarModal()">✖</button>

    <h3 *ngIf="!creant">Edita el grup: {{ subgrupEditar.descripcio_subgrup }}</h3>
    <h3 *ngIf="creant">Crea una nou grup</h3>

    <div *ngIf="!creant" class="condicio condicio-grups">
      <div class="activitats_box">
        <div class="activitat">
          <label>Ús: </label>
          <div>
            <input readonly [(ngModel)]="subgrupEditar.descripcio_grup" placeholder="Escriu un subgrup nou"/>
          </div>
        </div>
        <div class="activitat">
          <label>Descripció grup: </label>
          <div>
            <input [(ngModel)]="subgrupEditar.descripcio_subgrup"/>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="creant" class="condicio condicio-grups">
      <div class="activitats_box">
        <div class="activitat">
          <label>Ús: </label>
          <div>
            <select [(ngModel)]="epigrafSeleccionat" (change)="canviEpigraf($event)">
              <option [value]="''" disabled>Selecciona un ús</option>
              <option *ngFor="let grup of grupsDisponibles"
                      [value]="grup">{{ grup }}
              </option>
            </select>
          </div>
        </div>
        <div class="activitat">
          <label>Descripció grup: </label>
          <div>
            <input [(ngModel)]="subgrupEditar.descripcio_subgrup" placeholder="Escriu un subgrup nou"/>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-buttons">
      <button (click)="guardarActivitat()" class="save">Guardar</button>
      <button (click)="tancarModal()" class="cancel">Cancel·lar</button>
    </div>
  </div>
</div>
<!--MODAL GRUP-->
<div class="modal" *ngIf="grupEditar" (click)="onBackdropClick($event)">
  <div *ngIf="grupEditar" class="modal-content" (click)="$event.stopPropagation()">
    <app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>
    <button class="tancar-modal" (click)="tancarModal()">✖</button>

    <h3 *ngIf="!creant">Edita l'ús: {{ grupEditar.descripcio_grup }}</h3>
    <h3 *ngIf="creant">Crea un nou ús</h3>

    <div class="condicio condicio-grups">
      <div class="activitats_box">
        <div class="activitat">
          <label>Descripció de l'ús: </label>
          <div>
            <input [(ngModel)]="grupEditar.descripcio_grup" placeholder="Escriu un ús nou"/>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-buttons">
      <button (click)="guardarActivitat()" class="save">Guardar</button>
      <button (click)="tancarModal()" class="cancel">Cancel·lar</button>
    </div>
  </div>
</div>
