h2 {
  text-align: center;
}

.dades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.dada {
  display: flex;
  flex-direction: column;
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.dialog-content{
  margin: 10px 30px;
}


input {
  margin: 5px;
  padding: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
