<h2>Afegir una {{ data.tipus == 1 ? "zona" : "àrea" }}</h2>

<div class="dialog-content">
  <div class="dades">

    <div class="dada">
      <label for="codi">Codi:</label>
      <input type="number" id="codi" [(ngModel)]="codi">
    </div>

    <div class="dada">
      <label for="descripcio">Descripció:</label>
      <input type="text" id="descripcio" [(ngModel)]="descripcio">
    </div>

    <!-- Si és una àrea, mostrar el selector de zona -->
    <div *ngIf="data.tipus === 2" class="dada">
      <label for="zona">Zona:</label>
      <select id="zona" [(ngModel)]="zonaSeleccionada">
        <option *ngFor="let zona of data.zones" [value]="zona.codi_zona">
          {{ zona.descripcio_zona }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancel·lar</button>
  <button mat-button (click)="onSave()">Guardar</button>
</div>
