<img src="assets/logo.png" alt="logo" class="logo">

<app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>


<h2 *ngIf="!formPresenatcio">Pla Especial Urbanístic d’Usos i activitats de nucli antic d’Olot</h2>

<!-- Formulari de dades de l'usuari -->
<app-presentacio *ngIf="formPresenatcio" (presentacioSubmit)="onPresentacioSubmit()"></app-presentacio>

<!-- Formulari de dades de l'usuari -->
<app-dades-usuari *ngIf="formDadesUsuari" (dadesUsuariSubmit)="onDadesUsuariSubmit($event)"
                  (goBackEvent)="goBack($event)"></app-dades-usuari>

<!-- Formulari d'adreça -->
<app-adreca *ngIf="formAdreca" (adrecaSubmit)="onAdrecaSubmit($event)" (goBackEvent)="goBack($event)"></app-adreca>

<!-- Formulari d'activitat -->
<app-activitat *ngIf="formActivitat" (activitatSubmit)="onActivitatSubmit($event)" (goBackEvent)="goBack($event)"
               [adreca]="adrecaSeleccionada"></app-activitat>


<div *ngIf="generantPDF" class="generant-pdf">
  <div class="dialog-content">
    <div class="spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <p class="mt-2">Generant l'informe PDF...</p>
  </div>
</div>

<!-- Botó per pujar un fitxer Excel -->
<!--<div class="upload-section">-->
<!--  <label for="fileUpload">Puja un fitxer Excel:</label>-->
<!--  <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept=".xlsx">-->
<!--  <button (click)="uploadFile()">Carregar Excel</button>-->
<!--</div>-->
