<img src="assets/logo.png" alt="logo" class="logo">

<app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>


<h2 *ngIf="!formPresenatcio">Pla Especial Urbanístic d’Usos i activitats de nucli antic d’Olot</h2>

<!-- Formulari de dades de l'usuari -->
<app-presentacio *ngIf="formPresenatcio" (presentacioSubmit)="onPresentacioSubmit()"></app-presentacio>

<!-- Formulari de dades de l'usuari -->
<app-dades-usuari *ngIf="formDadesUsuari" (dadesUsuariSubmit)="onDadesUsuariSubmit($event)"
                  (goBackEvent)="goBack($event)"></app-dades-usuari>

<!-- Formulari d'adreça -->
<app-adreca *ngIf="formAdreca" (adrecaSubmit)="onAdrecaSubmit($event)" (goBackEvent)="goBack($event)"></app-adreca>

<!-- Formulari d'activitat -->
<app-activitat *ngIf="formActivitat" (activitatSubmit)="onActivitatSubmit($event)" (goBackEvent)="goBack($event)"
               [adreca]="adrecaSeleccionada"></app-activitat>


<div *ngIf="generantPDF" class="generant-pdf">
  <div class="dialog-content">
    <div class="spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <p class="mt-2">Generant l'informe PDF...</p>
  </div>
</div>

<div *ngIf="dialogAltres" class="generant-pdf">
  <div class="dialog-content altres">
    <p class="mt-2">Per tal de donar-te resposta a la teva situació concreta, pots trucar a l’Espai Cooperatiu al telèfon <strong>972279100</strong> o bé enviar un correu a <strong>{{correu}}</strong>. En el cas que enviïs un correu, necessitem que concretis la següent informació:</p>
    <ul class="llista-altres">
      <li>Nom i cognoms</li>
      <li>Telèfon de contacte</li>
      <li>Adreça del local que t’interessa llogar</li>
      <li>Especificar la tipologia d’activitat econòmica</li>
    </ul>
    <div class="boto-altres">
      <button (click)="dialogAltres = false;" >Tancar</button>
    </div>
  </div>
</div>

<div *ngIf="dialogCondicio" class="generant-pdf">
  <div class="dialog-content altres">
    <p class="mt-2">Si vols crear una reserva d’aquest local amb la teva activitat, has d’enviar un correu a SIGMA a la
      següent adreça <strong>{{correuCondicio}}</strong> adjuntant el teu informe final generat pel visor del Pla d’Usos i demanant la teva reserva,
      la qual tindrà una durada de <strong>15 dies</strong>. </p>
    <p><strong>IMPORTANT:</strong> si durant aquest període de 15 dies SIGMA no rep la teva tramitació de documentació per gestionar la llicència d’activitat, la teva reserva s’anul·larà.</p>
    <div class="boto-altres">
      <button (click)="dialogCondicio = false; isCondicio = false;">Tancar</button>
    </div>
  </div>
</div>

<!-- Botó per pujar un fitxer Excel -->
<!--<div class="upload-section">-->
<!--  <label for="fileUpload">Puja un fitxer Excel:</label>-->
<!--  <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept=".xlsx">-->
<!--  <button (click)="uploadFile()">Carregar Excel</button>-->
<!--</div>-->
