<!-- Formulari de dades d'usuari -->
<form (ngSubmit)="onSubmit()">
  <div>
    <p>*Escull l'activitat per a l'adreça <strong>{{ this.adreca?.adreca }}, ZONA: {{this.adreca?.codi_zona}}{{this.adreca?.codi_area ? ", Àrea: " + this.adreca?.codi_area : ""}}</strong></p>
    <div class="seleccionables">
      <div class="seleccionable">
        <label for="grup">Ús:</label>
        <select id="grup" [(ngModel)]="selectedGrup" name="grup" (change)="onGrupChange()" required>
          <option value="" disabled selected>Selecciona un ús</option>
          <option *ngFor="let grup of grups" [value]="grup">{{ grup }}</option>
        </select>
        <input
          type="text"
          placeholder="O bé escriu aquí per buscar un ús"
          id="grupText"
          [(ngModel)]="selectedGrup"
          name="grup"
          (input)="filterGrup($event)"
          required
        />
        <ul *ngIf="filteredGrups.length > 0">
          <li *ngFor="let grup of filteredGrups" (click)="selectGrup(grup)">
            {{ grup }}
          </li>
        </ul>
      </div>
      <div class="seleccionable">
        <label for="subgrup">Grup:</label>
        <select id="subgrup" [(ngModel)]="selectedSubgrup" name="subgrup" (change)="onSubgrupChange()"
                *ngIf="subgrups.length > 0" required>
          <option value="" disabled selected>Selecciona un grup</option>
          <option *ngFor="let subgrup of subgrups" [value]="subgrup">{{ subgrup }}</option>
        </select>
        <input
          type="text"
          placeholder="O bé escriu aquí per buscar un grup"
          id="subgrupText"
          [(ngModel)]="selectedSubgrup"
          name="subgrup"
          (input)="filterSubgrup($event)"
          required
        />
        <ul *ngIf="filteredSubgrups.length > 0">
          <li *ngFor="let subgrup of filteredSubgrups" (click)="selectSubgrup(subgrup)">
            {{ subgrup }}
          </li>
        </ul>
      </div>
      <div class="seleccionable">
        <label for="activitat">Epígraf:</label>
        <select id="activitat" [(ngModel)]="selectedActivitat" name="activitat" (change)="onDescripcioChange()" [ngStyle]="{ color: getColor(selectedActivitat) }" required>
          <option value="" disabled selected>Selecciona un epígraf</option>
          <option *ngFor="let act of activitatsFiltrades" [value]="act" [ngStyle]="{ color: getColor(act) }">{{ act }}</option>
        </select>
        <input
          type="text"
          placeholder="O bé escriu aquí per buscar un epígraf"
          id="descripcioText"
          [(ngModel)]="selectedActivitat"
          name="activitat"
          (input)="filterDescripcio($event)"
          required
          [ngStyle]="{ color: getColor(selectedActivitat) }"
        />
        <ul *ngIf="filteredDescripcions.length > 0">
          <li *ngFor="let descripcio of filteredDescripcions" (click)="selectDescripcio(descripcio)" [ngStyle]="{ color: getColor(descripcio) }">
            {{ descripcio }}
          </li>
        </ul>
        <br>
        <label *ngIf="altres">Breu descripció de l'epígraf:</label>
        <input *ngIf="altres"
          type="text"
          id="descripcioActivitat"
          name="descripcioActivitat"
          required
        />
      </div>
    </div>
  </div>

  <div class="condicions" *ngIf="activitatsFiltrades.length > 0">
    <h3>Llegenda de condicions:</h3>
    <p style="color: green">Els epígrafs de color verd, són epígrafs APTES per l'adreça.</p>
    <p style="color: orange">Els epígrafs de color taronja, són epígrafs APTES AMB CONDICIONS per l'adreça.</p>
    <p style="color: red;">Els epígrafs de color vermell, són epígrafs NO aptes per l'adreça.</p>
  </div>

  <div class="buttons">
    <button type="button" (click)="goBack()">Tornar enrera</button>
    <button type="submit" [disabled]="!selectedActivitat">Enviar</button>
  </div>
</form>

