<!-- Presentació -->
<div class="container">
  <h1>BENVINGUTS I BENVINGUDES A LA PLATAFORMA PÚBLICA DEL PLA ESPECIAL URBANÍSTIC D’USOS I ACTIVITATS DEL NUCLI ANTIC
    D’OLOT.</h1>

  <h2>Aquí podràs obtenir tota la informació que necessites per poder cercar quina tipologia d’activitat pots ubicar en
    les diferents zones de regulació de l’àmbit d’aplicació d’aquest Pla Especial. </h2>

  <div class="alerta">
    <img src="assets/alert.png" alt="ambit_aplicacio" width="5%">
    <div class="div-alerta">
      <h2><strong>Després de la teva cerca, obtindràs un informe, el qual és una
        condició estrictament necessària per iniciar el procediment
        d’obertura d’un negoci dins l’àmbit del Nucli Antic.</strong></h2>
    </div>
  </div>

  <br>

  <h2>Abans d’iniciar la teva cerca, has de saber que:</h2>

  <p><strong>El Pla Especial Urbanístic d’Usos regula</strong> de forma específica la relació entre les diverses
    categories d’establiments i les condicions urbanístiques d’emplaçament, d’acord amb els següents paràmetres:</p>

  <ol type="a">
    <li>Les activitats objecte de regulació en el Pla Especial.</li>
    <li>La concreció de superfícies, distàncies i densitats màximes entre alguns establiments.</li>
    <li>La concreció de determinats paràmetres urbanístics en relació de les activitats regulades.</li>
  </ol>

  <p><strong>L’objecte</strong> d’aquest Pla d’Usos és:</p>

  <ol type="a">
    <li>Influir, preservar i millorar la qualitat ambiental de l’espai públic en general i del carrer en particular,
      però també entès com l’escenari de la convivència veïnal i de l’expressió política i cultural de la ciutadania.
    </li>
    <li>Equilibrar en el territori els emplaçaments de les activitats per tal de satisfer les necessitat generals del
      barri i evitar el monocultiu comercial i l’empobriment de la qualitat de l’oferta i la pèrdua de diversitat
      comercial necessària per garantir el comerç de proximitat i qualitat de vida al Nucli Antic.
    </li>
  </ol>

  <p><strong>L’àmbit d’aplicació</strong> d’aquest Pla Especial de regulació dels usos i les activitats es correspon amb
    el nucli antic d’Olot delimitat al plànol d’ordenació que mostrem a continuació, amb una superfície total de
    14’31ha, i que comprèn la Vila Nova, els fronts del carrer del Bisbe Lorenzana, els entorns de la Illa del Carme i
    els de la Plaça del Palau.</p>

  <div class="imatge">
    <img src="assets/ambit_aplicacio.png" alt="ambit_aplicacio" width="600px">
  </div>

  <br>

  <p>El <strong>perímetre</strong> del Pla Especial es correspon, al nord amb els fronts edificats del carrer Esgleiers
    i el carrer de Sant Bernat, a l’est amb els de la Ronda de Sant Bernat, el carrer de l’Escultor Llimona i la Plaça
    Palau, al sud amb els del carrer del Bisbe Lorenzana i a l’oest amb els fronts edificats del carrer de l’Hospici, de
    la Plaça Mora, el carrer de Sant Tomàs, el carrer de Sant Esteve i la Plaça Rector Ferrer.</p>

  <p>Pel que respecte a les condicions d’emplaçament i paràmetres reguladors, s’han delimitat <strong>4 Zones de
    Regulació</strong> (ZR) i
    <strong>7 Àrees de Tractament Específic</strong> (ATE). A continuació s’expressen gràficament al plànol.</p>

  <div class="imatge">
    <img src="assets/planol_zones_ates.jpg" alt="planol_zones_ates" width="600px">
  </div>

  <ul style="list-style-type: square;">
    <li><strong>ZR 1 Vila Nova</strong>: es correspon amb l’àmbit perimetral de l’anomenada Vila Nova. Aquesta zona
      conté 6 ATE’s:
    </li>
    <ul style="list-style: none; padding-left: 0;">
      <li><strong>- ATE 1.1 Plaça Major.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització de l’àrea per a activitats gastronòmiques i de restauració.
      </li>
      <li><strong>- ATE 1.2 Plaça de Campdenmàs.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització
        de l’àrea per a activitats de despatxos, associacionisme i tallers artesanals i, excepcionalment activitats
        musicals.
      </li>
      <li><strong>- ATE 1.3 Plaça de la Pia Almoina.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització
        de l’àrea per a activitats culturals, d’associacionisme i tallers artesanals.
      </li>
      <li><strong>- ATE 1.4 Plaça Móra.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització de l’àrea per a activitats culturals.
      </li>
      <li><strong>- ATE 1.5 Carrer Major.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització de l’àrea
        per a activitats comercials i de serveis d’equipament personal i de la llar.
      </li>
      <li><strong>- ATE 1.6 Carrer dels Sastres.</strong> S’hi estableixen condicions especials per tal de promoure
        l’especialització per
        als tallers artesanals.
      </li>
    </ul>
    <li><strong>ZR 2 Illa del Carme – Muralla.</strong> Es correspon amb l’àmbit perimetral que engloba l’illa del Carme
      i els entorns
      de la Plaça del Palau. La ZR 2 conté una ATE:
    </li>
    <ul style="list-style: none; padding-left: 0;">
      <li><strong>- ATE 2.1 Plaça de la Verge del Carme.</strong> S’hi estableixen condicions especials per tal de
        promoure
        l’especialització de l’àrea per a activitats comercials d’alimentació Km 0, tallers artesanals, restauració i
        belles arts.
      </li>
    </ul>
    <li><strong>ZR 3 Sant Esteve.</strong> Es correspon amb els entorns de la Plaça del Rector Ferrer.</li>
    <li><strong>ZR 4 Lorenzana.</strong> Es correspon amb els fronts edificats del carrer del Bisbe Lorenzana i entorns
      de la plaça de l’Onze de setembre.
    </li>
  </ul>

  <p>Per a més informació, podeu consultar <strong>el document del Pla Especial Urbanístic d’Usos,</strong> en el
    següent enllaç:
    <a
      href="https://www.olot.cat/pl373/planejament-i-gestio-urbanistica/figures-en-tramit/id540/pla-especial-urbanistic-d-usos-i-activitats-al-nucli-antic.htm"
      target="_blank">https://www.olot.cat/pl373/planejament-i-gestio-urbanistica/figures-en-tramit/id540/pla-especial-urbanistic-d-usos-i-activitats-al-nucli-antic.htm</a>
  </p>

  <form (ngSubmit)="onSubmit()">
    <div class="boto">
      <button type="submit">*Consultar activitat</button>
    </div>
  </form>
</div>
