.container {
  margin: 0 100px;
  text-align: justify;
}

h1 {
  text-align: center;
}

.punt {
  margin-left: 30px;
}

.imatge {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin-bottom: 8px; /* ajusta-ho segons necessitis */
}

button {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: violet;
}

.boto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0px;
}
