<!-- Presentació -->
<div class="container">
  <h1>BENVINGUTS I BENVINGUDES A LA PLATAFORMA PÚBLICA DEL PLA ESPECIAL URBANÍSTIC D’USOS I ACTIVITATS DEL NUCLI ANTIC
    D’OLOT.</h1>

  <h2>Aquí podràs obtenir tota la informació que necessites per poder cercar quina tipologia d’activitat pots ubicar en
    les diferents zones de regulació de l’àmbit d’aplicació d’aquest Pla Especial. </h2>

  <h2>Abans d’iniciar la teva cerca, has de saber que:</h2>

  <p><strong>El Pla Especial Urbanístic d’Usos regula</strong> de forma específica la relació entre les diverses
    categories d’establiments i les condicions urbanístiques d’emplaçament, d’acord amb els següents paràmetres:</p>
  <pre>
    a) Les activitats objecte de regulació en el Pla Especial.
    b) La concreció de superfícies, distàncies i densitats màximes entre alguns establiments.
    c) La concreció de determinats paràmetres urbanístics en relació de les activitats regulades.
  </pre>

  <form (ngSubmit)="onSubmit()">
    <button type="submit">*Següent</button>
  </form>
</div>
