/* adreca.component.css */
.adreca-table table {
  width: 100%;
  border-collapse: collapse;
}

.adreca-table th, .adreca-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.button button {
  padding: 5px 10px;
  background-color: #E62B01;
  color: white;
  border: none;
  cursor: pointer;
}

.button button:hover {
  background-color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: auto;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Estil per al cercador */
.search-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-container input {
  margin-left: 10px;
  padding: 8px;
  width: 250px;
}

.button{
  display: flex;
  justify-content: end;
}

.dades_adreca {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

img {
  width: 350px;
}

.button-detalls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-detalls button{
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

form label {
  display: block;
  margin-top: 0.8rem;
}

form input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  margin-top: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

form select {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  color: #333;
  appearance: none; /* elimina l'estil del navegador */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 1.5em;
  padding-right: 2em;
}

