<!-- epigraf.component.html -->
<app-notificacio *ngIf="textNoti != ''" [text]="textNoti" [tipus]="tipusNoti"></app-notificacio>
<div class="epigraf-table">
  <!-- Input de cerca -->
  <div class="search-container">
    <label for="search">Cerca:</label>
    <input [(ngModel)]="searchTerm" id="search" placeholder="Cerca per descripcio d'epígraf"/>
  </div>

  <!-- Taula de els epigrafs -->
  <table>
    <thead>
    <tr>
      <th>Codi</th>
      <th>Descripció</th>
      <th>Actiu</th>
      <th>Accions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let epigraf of filteredEpigrafs()">
      <td>{{ epigraf.codi1 + '.' + epigraf.codi2 + '.' + epigraf.codi3}}</td>
      <td>{{ epigraf.descripcio }}</td>
      <td>{{ epigraf.mostrar ? "Sí" : "No" }}</td>
      <td>
        <div class="button-detalls">
          <button (click)="veureDetalls(epigraf)"><i class="fa fa-eye"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Modal per veure el detall de la epigraf -->
<!--  <div *ngIf="selectedEpigraf" class="modal">-->
<!--    <div class="modal-content">-->
<!--      <div class="button">-->
<!--        <button (click)="tancarModal()">X</button>-->
<!--      </div>-->
<!--      <h3>Detalls de la epigraf</h3>-->
<!--      <p><strong>DNI INTERESSAT: </strong>{{ selectedepigraf.dni_interessat }}</p>-->
<!--      <p><strong>NOM INTERESSAT: </strong>{{ selectedepigraf.nom_interessat }}</p>-->
<!--      <p><strong>ACTUACIÓ INTERESSAT: </strong>{{ selectedepigraf.actuacio_interessat }}</p>-->
<!--      <p><strong>DOMCOD: </strong>{{ selectedepigraf.DOMCOD }}</p>-->
<!--      <p><strong>ADREÇA: </strong>{{ !selectedepigraf.adreca ? "Adreça no disponible" : selectedepigraf.adreca }}</p>-->
<!--      <p *ngIf="!selectedepigraf.is_altres"><strong>ÚS: </strong>{{ selectedepigraf.grup }}</p>-->
<!--      <p *ngIf="!selectedepigraf.is_altres"><strong>GRUP: </strong>{{ selectedepigraf.subgrup }}</p>-->
<!--      <p *ngIf="!selectedepigraf.is_altres"><strong>EPÍGRAF: </strong>{{ selectedepigraf.activitat }}</p>-->
<!--      <p *ngIf="selectedepigraf.is_altres"><strong>EPÍGRAF ALTRES: </strong>{{ selectedepigraf.descripcio_altres }}-->
<!--      </p>-->
<!--      <p><strong>ÉS VÀLID(provisional): </strong>{{ selectedepigraf.is_valid == 1 ? "SÍ" : "NO" }}</p>-->
<!--      <p><strong>CONDICIÓ: </strong>{{ selectedepigraf.condicio }}</p>-->
<!--      <p *ngIf="selectedepigraf.valor_condicio"><strong>VALOR CONDICIÓ: </strong>{{ selectedepigraf.valor_condicio }}-->
<!--      </p>-->
<!--      <p><strong>DATA: </strong>{{ selectedepigraf.data }}</p>-->
<!--    </div>-->
<!--  </div>-->
</div>
