<div class="sidebar">
  <ul>
    <li><a (click)="toggleSidebar(1)">Zones/Àrees</a></li>
    <li><a (click)="toggleSidebar(2)">Adreces</a></li>
    <li><a (click)="toggleSidebar(3)">Usuaris</a></li>
    <li><a (click)="toggleSidebar(4)">Consultes</a></li>
    <li><a (click)="toggleSidebar(5)">Activitats</a></li>
    <li><a (click)="toggleSidebar(6)">Epígrafs</a></li>
    <li><a (click)="toggleSidebar(7)">Configuració</a></li>
  </ul>

  <!-- Botó de logout a sota de tot -->
   <div class="sidebar_footer">
    <p>Usuari: <strong>{{username}}</strong></p>
     <div class="boto">
       <button (click)="logout()">Tancar la sessió</button>
     </div>
   </div>
</div>
