<!-- Formulari de dades d'usuari -->
<form (ngSubmit)="onSubmit()">
  <p *ngIf="error != ''" class="error">{{error}}</p>
  <p>*Text explciatiu del formulari.</p>
  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" [(ngModel)]="formData.nom" name="nom" required/>
  </div>
  <div>
    <label for="dni">DNI:</label>
    <input type="text" id="dni" [(ngModel)]="formData.dni" name="dni" required/>
  </div>
  <div>
    <label for="actuaComA">Actua com a:</label>
    <select id="actuaComA" [(ngModel)]="formData.actuaComA" name="actuaComA" required>
      <option value="propietari">Propietari</option>
      <option value="llogater">Possible llogater</option>
      <option value="tecnic">Tècnic de projectes</option>
      <option value="immobiliari">Administrador immobiliari</option>
    </select>
  </div>
  <div class="buttons">
    <button (click)="goBack()">*Tornar enrera</button>
    <button type="submit">*Següent</button>
  </div>
</form>
