<!-- Formulari d'adreça amb autocompletat -->
<form (ngSubmit)="onSubmit()">
  <p>*Text explicatiu formulari</p>
  <div>
    <label for="adreca">Adreça del local d'interès:</label>
    <input
      type="text"
      id="adreca"
      [(ngModel)]="adrecaSeleccionada"
      name="adreca"
      (input)="filterAdreces($event)"
      required
    />
    <ul *ngIf="filteredAdreces.length > 0">
      <li *ngFor="let adreca of filteredAdreces" (click)="selectAdreca(adreca)">
        {{ adreca.adreca }}
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button (click)="goBack()">*Tornar enrera</button>
    <button type="submit">*Següent</button>
  </div>
</form>

<div *ngIf="modalError" class="modal">
  <div class="modal-content">
    <h3>Atenció, ha de seleccionar una adreça vàlida</h3>
    <div class="button">
      <button (click)="tancarModal()">D'acord</button>
    </div>
  </div>
</div>
