/* Estil del contenidor principal */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  height: 60vh; /* Ocupa tota l'alçada de la pantalla */
  box-sizing: border-box;
  padding: 20px;
}

/* Tots els elements dins del contenidor ocupen la mateixa amplada */
.container > * {
  flex: 1;
  max-width: 33.33%;
}

/* Imatge i iframe ocupen tot l'espai disponible */
.container img,
.container iframe {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Formulari - Estil */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 100%;
}

form div {
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #45a049;
}

/* Estil de la pàgina */
h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Autocompletat */
ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f4f4f4;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

h3 {
  text-align: center;
}

.modal-content button {
  background-color: #555555;
}

/* Responsive - Ajustament per a mòbils o pantalles estretes */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container > * {
    max-width: 100%;
  }

  form {
    height: auto;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}
